<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Kullanıcı Giriş</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">                  
                    <div class="form-group">
                        <label>E-Posta</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">E-Posta adresi girilmelidir.</div>
                            <div *ngIf="f.email.errors.email">Lütfen geçerli bir e-posta adresi girin.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Şifre girilmelidir.</div>
                        </div>
                    </div>                   
                    <div class="form-group">
                        <button class="btn btn-primary">Giriş</button>
                    </div>
                    <div *ngIf="alrt" class="alert alert-danger">
                      {{ this.alrt}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

