<h3 align="center">Yönetici Paneli</h3>
<div class="container">
  <div align="right"><strong>Aktif Kullanıcı {{ activeUser.userEmail }} &nbsp;</strong> <button type="button"
      class="btn btn-outline-primary" (click)="logout()">Çıkış</button></div>
  <ul class="nav nav-tabs">
    <li class="nav-item" id="usersli">
      <a class="nav-link active" data-toggle="tab" href="#users">Kullanıcılar</a>
    </li>
    <li class="nav-item" id="pagesli">
      <a class="nav-link" data-toggle="tab" href="#pages">Sayfalar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#posts">Postlar</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="users" class="container tab-pane active">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                data-target="#myModal" (click)="this.userGroup.reset();">
                Ekle
              </button></th>
            <th scope="col">Kullanıcı Eposta</th>
            <th scope="col">Ekleme Tarihi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row"><a data-toggle="modal" data-target="#myModal" class="text-danger"
                (click)="getValue(user.internalId)" style="cursor: pointer;">Düzenle</a></th>
            <td> {{user.userEmail}}</td>
            <td> {{user.userCreated | date: 'dd/MM/yyyy'}} </td>
            <td> <a (click)="deleteUser(user.internalId)" class="text-danger">Sil</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="pages" class="container tab-pane fade">
      <form [formGroup]="updateForm" (ngSubmit)="updatePage()">
        <fieldset>
          <legend>Sayfaları Düzenleyin</legend>
          <div class="form-group row">
            <div class="col-sm-10">
              <select class="custom-select" (change)="changePage($event)" formControlName="pageName">
                <option selected value="" disabled>Sayfa Seçiniz</option>
                <option *ngFor="let page of pages; let i = index" [ngValue]="page.pageName" [value]="i">
                  {{ page.pageTitle }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Sayfa Başlığı</label>
            <input formControlName="pageTitle" type="text" class="form-control" [(ngModel)]="selectedpage.pageTitle" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Sayfa İçeriği</label>
            <ckeditor [config]="editorConfig" formControlName="pageContent" [editor]="Editor" [(ngModel)]="selectedpage.pageContent" (ready)="onReady($event)">
            </ckeditor>
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input type="file" id="inputGroupFile02" (change)="onFileChange($event)">
              <div *ngIf="selectedpage.image"><img [src]="'data:image/jpg;base64,'+selectedpage.image | safeHtml" />
              </div>
            </div>
          </div>
        </fieldset>
        <button class="btn btn-primary">Güncelle</button>
      </form>
    </div>
    <div id="posts" class="container tab-pane fade">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><button class="btn btn-outline-primary" data-toggle="modal" data-target="#myPostModal"
                (click)="this.postGroup.reset();">Ekle</button></th>
            <th scope="col">Post Resmi</th>
            <th scope="col">Post Yazarı</th>
            <th scope="col">Post Kısa İçerik</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" *ngFor="let post of posts">
            <th scope="row"><a data-toggle="modal" data-target="#myPostModal" class="text-danger"
                (click)="getPost(post.internalId)" style="cursor: pointer;">Düzenle</a></th>
            <td><img src="http://placehold.it/80x80" style="height: 80px;width: 80px;">{{post.postImage}}</td>
            <td>{{post.postAuthor}}</td>
            <td>{{post.postContentBrief | titlecase}}</td>
            <td><a class="text-danger" (click)="publishPost(post.internalId)" style="cursor: pointer;">Onayla</a></td>
            <td><a class="text-danger" (click)="archivePost(post.internalId)" style="cursor: pointer;">Arşivle</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="alrt" class="alert alert-danger">
      {{ this.alrt}}
    </div>
  </div>




  <!-- The Modal  Register user form -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Kullanıcı Bilgileri</h4>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="userGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
              Kullanıcı E-posta
              <input type="text" formControlName="userEmail" class="form-control"
                [ngClass]="{ 'is-invalid': userGroupSubmitted && fe.userEmail.errors }" />
              <div *ngIf="userGroupSubmitted && fe.userEmail.errors" class="invalid-feedback">
                <div *ngIf="fe.userEmail.errors.required">E-posta adresi giriniz.</div>
                <div *ngIf="fe.userEmail.errors.email">Lütfen geçerli bir e-posta giriniz.</div>
              </div>
            </div>
            <div class="form-group">
              Kullanıcı Şifre
              <input type="password" formControlName="userPassword" class="form-control"
                [ngClass]="{ 'is-invalid': userGroupSubmitted && fe.userPassword.errors }" />
              <div *ngIf="userGroupSubmitted && fe.userPassword.errors" class="invalid-feedback">
                <div *ngIf="fe.userPassword.errors.required">Şifre giriniz.</div>
                <div *ngIf="fe.userPassword.errors.minlength">Şifre en az 3 karakter olmalı!</div>
              </div>
            </div>
            <div class="form-group">
              Kullanıcı Tipi
              <select class="form-control" formControlName="userType">
                <option value="1" selected="true">Admin</option>
                <option value="2">Editör</option>
              </select>
            </div>
            <div class="form-group">
              Kullanıcı Durumu
              <select class="form-control" formControlName="userStatus">
                <option value="0">Pasif</option>
                <option value="1" selected="true">Aktif</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary" click="onSubmit()">Kaydet</button>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal"
            (click)="this.userGroup.reset();this.upd='';">Kapat</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add post modal form-->

  <div class="modal fade" id="myPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Blog Giriş</h4>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="postGroup">
            <div class="form-group">
              Blog Kısa İçerik
              <input type="text" formControlName="postContentBrief" class="form-control"
                [ngClass]="{ 'is-invalid': postGroupSubmitted && fc.postContentBrief.errors }">
            </div>
            <div *ngIf="postGroupSubmitted && fc.postContentBrief.errors" class="invalid-feedback">
              <div *ngIf="fc.postContentBrief.errors.required">Blog için kısa içerik giriniz.</div>
            </div>
            <div class="form-group">
              Blog Ana İçerik
              <ckeditor [config]="editorConfig"  [editor]="Editor" formControlName="postContentExtended" aria-required="postGroup"
                [ngClass]="{ 'is-invalid': postGroupSubmitted && fc.postContentExtended.errors }" (ready)="onReady($event)">
              </ckeditor>
            </div>
            <div *ngIf="postGroupSubmitted && fc.postContentExtended.errors" class="invalid-feedback">
              <div *ngIf="fc.postContentBrief.errors.required">Blog içeriği giriniz.</div>
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Blog Durumu</label>
              <select class="form-control" formControlName="postState">
                <option selected="true">Draft</option>
                <option disabled="true">Published</option>
              </select>
            </div>
            <div>
              <button class="btn btn-outline-primary" (click)="submitPost()">Kaydet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>